doctype html
html(lang="es" ng-app)
  head
    title Iberonline
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Iberonline' )
    //Bootstrap Theme
    link(href="/public/css/bootstrap.min.css", rel="stylesheet")
    link(href="/public/css/dashboard.css", rel="stylesheet")
    script( src="/public/js/bootstrap.min.js" )
    script( src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js" )

  body()
nav.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') Project name
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#') Dashboard
        li
          a(href='#') Settings
        li
          a(href='#') Profile
        li
          a(href='#') Help
      form.navbar-form.navbar-right
        input.form-control(type='text', placeholder='Search...')
row
 .col-md-8 
    h1 testing
    p holas
    input( type=text ng-model="proba" placeholder="Escriu aqui..." )
    h2 Hola escriu el contingut a {{proba}} per veure que surt
 .col-md-4
